<%-include("partials/header.ejs")%>
<h1>About Me</h1>
<img class="profile" src="/images/image.jpg" alt="Dushyant Profile">
<p>
Hello there, I am Dushyant Rajeev Bhardwaj, as an aspiring Computer Science Engineer, my goal is to leverage my knowledge and skills to create
pioneering software solutions that cater to my clients' requirements. My technical prowess and
analytical mindset equip me with the confidence to thrive in this dynamic field and drive forward
innovations in the software industry.

</p>
  <%-include("partials/footer.ejs")%>