<%-include("partials/header.ejs")%>
<h1>Contact Me</h1>
<p>Hello there, I am Dushyant Rajeev Bhardwaj, I am an aspiring Computer Science Engineer, my passion for technology drives me to continuously expand my skill set and stay up-to-date with the latest advancements in the field. I'm enthusiastic about tackling complex problems and transforming them into elegant and efficient solutions.</p>

<p>I believe in the power of collaboration and continuous learning. My goal is not just to create software that meets my clients' needs but to exceed their expectations by understanding their unique challenges and delivering innovative solutions that create a positive impact.</p>  
  
<p>Email : <a href="">dushyantbhardwaj26@gmail.com</a></p>  
<p>LinkedIn : <a href="https://www.linkedin.com/in/dushyant-bhardwaj-a6453b116/">Dushyant Bhardwaj LinkedIn</a></p>  
<p>Intagram : <a href="https://www.instagram.com/dushyaaant_bhardwaj/">Dushyant Bhardwaj Instagram </a></p>  

<%-include("partials/footer.ejs")%>